body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 770px;
  margin: 0 auto;
}

nav {
  height: 70px;
  background: #f55a5a;
  display: flex;
  justify-content: center;
}

.card-img {
  width: 200px;
}

/* Typography */

.nav-title {
  color: #fff;
  font-weight: 500;
  align-self: center;
  text-align: center;
}

.bold {
  font-weight: 700;
}
